@* @model IEnumerable<Advertisement> *@
@model IEnumerable<Advertisements.WebApp.Data.Core.Models.AdvertisementsTableItem>

<div id="advertisementsTable">
	<table class="table table-bordered table-striped mt-3">
		<thead class="table-dark">
			<tr>
				<th scope="col">Zdjęcie</th>
				<th scope="col">Tytuł</th>
				<th scope="col">Opis</th>
				<th scope="col">Cena</th>
				@* <th scope="col">Wygasa</th> *@
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (var advertisementTableItem in Model)
				{
					<tr>
						<td>
							<img src="data:@advertisementTableItem.Advertisement.PictureFormat;base64,@advertisementTableItem.Picture">
						</td>
						<td>
@* 							@Html.ActionLink(
								advertisement.Title, 
								"Advertisement", 
								"Advertisement", 
								new { advertisementId = advertisement.AdvertisementId }, 
								new { @class = "fw-bold" }) *@
							<a class="fw-bold" asp-controller="Advertisement" asp-action="Advertisement" asp-route-advertisementId="@advertisementTableItem.Advertisement.AdvertisementId">@advertisementTableItem.Advertisement.Title</a>
						</td>
						<td>@advertisementTableItem.Advertisement.Description</td>
						<td>@advertisementTableItem.Advertisement.Price</td>
						@* <td>@advertisement.Expiration.ToString("G")</td> *@
					</tr>
				}
			}
			else
			{
				<tr>
					<td class="text-center" colspan="5">
						Brak ogłoszeń do wyświetlenia!
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>