@using SendEmail.WebApp.NetFramework.Models.Domains

@model IEnumerable<EmailSent>

@{
	ViewBag.Title = "Historia";
}

@if (Model is not null && Model.Any())
{
	<table class="table table-hover table-striped mt-3 mb-5">
		<thead>
			<tr>
				<th scope="col">Data wysłania</th>
				<th scope="col">Nadawca</th>
				<th scope="col">Email nadawcy</th>
				<th scope="col">Odbiorca</th>
				<th scope="col">Temat</th>
				<th scope="col">Wiadomość</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var email in Model)
			{
				<tr>
					<td>@email.DateSent.ToString("dd-MM-yyyy")</td>
					<td>@email.SenderName</td>
					<td>@email.SenderEmail</td>
					<td>@email.RecipientEmail</td>
					<td>@email.Subject</td>
					<td>@email.Message</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p class="alert alert-info mt-4 mb-4 text-center">Brak maili do wyświetlenia</p>
}