@model SendEmail.WebApp.NetFramework.Models.Domains.EmailSent

@{
	ViewBag.Title = "Wysyłanie emaili";
}

@using (Html.BeginForm("SendEmail", "Home"))
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary()

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.RecipientEmail)
		</div>
		<div class="col-lg-8">
			@Html.TextBoxFor(x => x.RecipientEmail, new { @class = "form-control", autofocus = "autofocus" })
			@Html.ValidationMessageFor(x => x.RecipientEmail)
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.Subject)
		</div>
		<div class="col-lg-8">
			@Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.Subject)
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.Message)
		</div>
		<div class="col-lg-8">
			@Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.Message)
		</div>
	</div>

	<div class="row mb-3">
		<button type="submit"
				class="col-lg-1 offset-lg-6 btn btn-primary btn-lg mb-5">
			Wyślij
		</button>
	</div>
}