@model SendEmail.WebApp.NetFramework.Models.Domains.EmailSettings

@{
	ViewBag.Title = "Ustawienia";
}

@if (Model.EmailSettingsId == 0)
{
	<p class="alert alert-info mt-4 mb-4 text-center">Przed wysłaniem maili musisz ustawić parametry wysyłki.</p>
}

@using (Html.BeginForm("Settings", "Home"))
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary()

	@Html.HiddenFor(x => x.EmailSettingsId)
	@Html.HiddenFor(x => x.UserId)

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.SenderName)
		</div>
		<div class="col-lg-8">
			@Html.TextBoxFor(x => x.SenderName, new { @class = "form-control", autofocus = "autofocus" })
			@Html.ValidationMessageFor(x => x.SenderName)
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.SenderEmail)
		</div>
		<div class="col-lg-8">
			@Html.TextBoxFor(x => x.SenderEmail, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.SenderEmail)
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.SenderEmailPassword)
		</div>
		<div class="col-lg-8">
			@Html.TextBoxFor(x => x.SenderEmailPassword, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.SenderEmailPassword)
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.HostSmtp)
		</div>
		<div class="col-lg-8">
			@Html.TextBoxFor(x => x.HostSmtp, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.HostSmtp)
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.EnableSsl)
		</div>
		<div class="col-lg-8">
			@Html.CheckBoxFor(x => x.EnableSsl)
			@Html.ValidationMessageFor(x => x.EnableSsl)
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-3 text-lg-end">
			@Html.LabelFor(x => x.Port)
		</div>
		<div class="col-lg-8">
			@Html.TextBoxFor(x => x.Port, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.Port)
		</div>
	</div>

	<div class="row mb-3">
		<button type="submit" class="col-lg-1 offset-lg-6 btn btn-primary btn-lg mb-5">Zapisz</button>
	</div>
}

