@model IEnumerable<MyTasks.WebApp.Core.Models.Domains.Task>

<div id="tasksTable">
	<table class="table table-bordered table-striped mt-3">
		<thead class="table-dark">
			<tr>
				<th scope="col">Tytuł</th>
				<th scope="col">Opis</th>
				<th scope="col">Kategoria</th>
				<th scope="col">Termin</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (var task in Model)
				{
					<tr>
						<td>
							@Html.ActionLink(task.Title, "Task", "Task", new { taskId = task.TaskId }, new { @class = "fw-bold" })
							@* <a href="@Url.Action("Task", "Task", new { id = task.TaskId })" class="fw-bold">@task.Title</a> *@
							@* <a asp-controller="Task" asp-action="Task">Dodaj nowe</a> *@
						</td>
						<td>@task.Description</td>
						<td>@task.Category.Name</td>
						<td>@task.Term?.ToString("dd-MM-yyyy")</td>
						<td>
							@if (!task.IsExecuted)
							{
								<button class="btn btn-success btn-sm mr-2"
                                        onclick="finishTask('@task.TaskId', this)">
									Zrealizuj
								</button>
							}
							<button class="btn btn-danger btn-sm"
									onclick="deleteTask('@task.TaskId', this)">
								Usuń
							</button>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td class="text-center" colspan="5">
						Brak zaplanowanych zadań do wykonania!
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>