@inject IHttpContextAccessor contextAccessor
@model string

@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

    <p>Mój tekst przekazany z kontrolera za pomocą pojedynczej zmiennej -> @Model</p>
    <p>Mój tekst przekazany z kontrolera za pomocą ViewBag -> @ViewBag.MyNumber</p>

    @*INFO - Sesja*@
    <p>Wartość obecnej sesji: @contextAccessor.HttpContext?.Session.GetString("MySessionKey")</p>

    @*INFO - Cookie*@
    <p>Wartość cookie: @contextAccessor.HttpContext?.Request.Cookies["MyCookieKey"]</p>

</main>